.square{
    border-bottom: 0.5px solid lightgrey;
}
    .SkillsTitle {
        font-size: 20px;
    }
    .sidenav {
        width: 200px;
    }

    .rowUnderNav{
      padding-top: 30px;
    }
    body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .aboutme{
        line-height: 150%;
        font-size: 20px;
    line-height: 34px;
    }
.headings {
  font-size: 28px;
}
    
.mysql{
  padding-top: 12px;
}

  .education {
   margin-right: 10px;
  }
.skills{
   margin: 10px;
}
    nav, .card{
        overflow: auto;
    }


  .contactItems {
   margin-left: 20px;
  }

 body {
      padding-left: 200px;
    }

    @media only screen and (max-width : 992px) {
      body {
        padding-left: 0;
      }
    }
    @media only screen and (min-width: 601px){
.container {
    width: 80%;
}
    }

  .cardbuttons {
     margin-left: 10px;
  }
.MoveDown{
  margin-top: 12px;
}
.github {
    vertical-align: middle;
}

.card-reveal, .desc{
    font-size: 20px;
}
